# Firebase Admin SDK Config
# Download your service account key from Firebase Console
# Place it as serviceAccountKey.json in /backend/config/

PORT=3000
JWT_SECRET=174823aef9037716fe6e87a00beab890600e462afa74c73a37c9c6a71527c49ceeefa38a99528ba41b70b4213b72fb228affc6a4640f91d3a7faf3db53c89c81
FIREBASE_STORAGE_BUCKET=telegram-clone-e45ad.firebasestorage.app
